:root {
    --b: 2px;
}
.bg{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
i{
    color: white;
}
body{
    background-color: #090909;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
h1{
    color: white;
}
h1 span{
    text-shadow: 1px 1px 50px #1077f49e;
    color: #1077f4;
}

.fa-terminal{
    top: 30px;
    border-radius: 5px;
    padding: 10px;
    background: black;
    cursor: pointer;
    left: 10px;
    position: absolute;
}

/* lo de los borders seguro se puede modular */
.b-right-top{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--b);
    height: var(--b);
    background-color: white;
    cursor: ne-resize;
}
.b-left-top{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--b);
    height: var(--b);
    background-color: white;
    cursor: nw-resize;
}
.b-top{
    position: absolute;
    top: 0;
    left: var(--b);
    right: var(--b);
    height: var(--b);
    background-color: rgb(161, 49, 49);
    cursor: n-resize;
}
.b-right{
    position: absolute;
    top: var(--b);
    right: 0;
    width: var(--b);
    bottom: var(--b);
    background-color: white;
    cursor: e-resize;
}
.b-left{
    position: absolute;
    top: var(--b);
    left: 0;
    width: var(--b);
    bottom: var(--b);
    background-color: white;
    cursor: w-resize;
}
.b-right-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--b);
    height: var(--b);
    background-color: white;
    cursor: se-resize;
}
.b-left-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--b);
    height: var(--b);
    background-color: white;
    cursor: sw-resize;
}   
.b-bottom{
    position: absolute;
    bottom: 0;
    left: var(--b);
    right: var(--b);
    height: var(--b);
    background-color: white;
    cursor: s-resize;
}
/* FIN DE LOS BORDERS */
.header_windows{
    background-color: #393838;
    color: white;
    height: 10%;
    width: 100%;
    cursor: grab;
    display: flex;
    align-items: center;
}
.close{
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 20px;
    text-align: center;
    height: 20px;
    margin-right: 10px;
}

button{
    background-color: #0f0f0f;
    color: white;
    border: white 1px solid;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.window {
    /* border: white 1px solid; */
    width: 40vw;
    background-color: #000000;
    height: 50vh;
    position: absolute;
    top: 50%;
}

.console{
    
    width: 100%;
    height: 90%;
    font-size: .9em;
    font-family: Silka Mono;
    color: white;
    background-color: #0f0f0f;
}
#comand-container{
    padding: 10px;
}
.tiping-container{
   display:flex;
   flex-direction: row;
   align-items: center;
}
#line-command{
    width: 100%;
}
#line-command:focus{
    outline: none;
}
#user{
    color: rgb(0, 181, 30);
}
